.kliknutiOglasPage {
  border: Solid 1px green;
  margin-top:110px;
  .kliknutiOglasData {
    .oglasInfo {
      display: flex;
      column-gap: 20px;
.box{
    width:50%;
    &:nth-of-type(2){
        border:solid 1px red;
        
    }
}
    }
  }
}
