/**************HOT DEALS SEKCIJA**********/
@import './_detaljnaPretragaForm';
.hotDeals {
    padding: 124px 0 0 0;
    @media screen and (min-width: 992px) {
      padding: 145px 0 0 0;
    }
    .header {
      text-align: center;
      .oldLetters {
        p {
          font-size: 25px;
          color: #993816;
          font-family: "Dancing Script", cursive;
        }
      }
      h3 {
        color: #993816;
        font-size: 37px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 20px;
        @media screen and (min-width: 992px) {
          font-size: 59px;
        }
        .neon {
         
          font-family: "Chelsea Market", cursive;
          font-size: 59px;
          color: #ffe9e1;
          font-weight: 400;
          letter-spacing: 8px;
          text-shadow: 1px 0px 0px #993816, 2px 0px 4px #993816, 3px 0px 4px #993816, 2px 0px 3px #993816, 2px 3px 5px #993816, 2px 0px 2px, 5px 0px 125px, 20px 0vw 50px #9938164f, 10px 0vw 50px #993816ba;
          display: block;
          padding-top: 5px;
          @media screen and (min-width: 768px) {
            font-size: 74px;
          }
          @media screen and (min-width: 992px) {
            padding-top: 0;
            display: inline;
            font-size: 89px;
            margin-left: 22px;
          }
        }
  
        .flicker-slow {
          animation: flicker 3s linear infinite;
        }
  
        .flicker-fast {
          animation: flicker 1s linear infinite;
        }
  
        @keyframes flicker {
          0%,
          19.999%,
          22%,
          62.999%,
          64%,
          64.999%,
          70%,
          100% {
            //text-shadow: none;
            opacity: 0.99;
          }
          20%,
          21.999%,
          63%,
          63.999%,
          65%,
          69.999% {
            opacity: 0.4;
          }
        }
      }
    }

    .oglasiHitno {
      margin-top: 60px;
    }
  }
  